.container {
  position: relative;
}

.table {
  margin: 0 auto;
  max-width: 1440px;
}

.table__head {
  padding: 20px;
  background-color: #d000ff;
  color: #fff;
  position: sticky;
  top: 300px;
}

.table__items {
  background-color: #e7e2e2;
}

.table__item {
  display: flex;
  justify-content: space-around;
}

.table__item p {
  padding: 20px;
  border: 1px solid #333;
  width: 100%;
  text-align: center;
}
